<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="com.misc.common.moplaf.job.design.Activator"
               id="com.misc.common.moplaf.job.design"
	       name="job">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="com.misc.common.moplaf.job.design.ExternalJavaRun"
           id="com.misc.common.moplaf.job.design.action.run">
     </javaActions>
  </extension>
</plugin>
