<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated jobclient -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.misc.common.moplaf.job.jobclient.presentation.JobclientModelWizardID"
            name="%_UI_JobclientModelWizard_label"
            class="com.misc.common.moplaf.job.jobclient.presentation.JobclientModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/JobclientModelFile.gif">
         <description>%_UI_JobclientModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated jobclient -->
      <editor
            id="com.misc.common.moplaf.job.jobclient.presentation.JobclientEditorID"
            name="%_UI_JobclientEditor_label"
            icon="icons/full/obj16/JobclientModelFile.gif"
            extensions="jobclient"
            class="com.misc.common.moplaf.job.jobclient.presentation.JobclientEditor"
            contributorClass="com.misc.common.moplaf.job.jobclient.presentation.JobclientActionBarContributor">
      </editor>
   </extension>

</plugin>
