<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gisgisgraphy -->
      <package
            uri="http://www.misc.com/common.moplaf.gisgisgraphy.emf"
            class="com.misc.common.moplaf.gis.gisgisgraphy.GisGisgraphyPackage"
            genModel="model/gisgisgraphy.genmodel"/>
   </extension>
   <extension
         point="com.misc.common.moplaf.gis.emf.geocoder_factory">
      <factory
            class="com.misc.common.moplaf.gis.gisgisgraphy.util.GisgraphyGeocoderFactory">
      </factory>
   </extension>

</plugin>
