<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated jobxmlrpc -->
      <package
            uri="//www.misc.com/common/moplaf/job/client/xmlrpc/model/0.1"
            class="com.misc.common.moplaf.job.jobxmlrpc.JobxmlrpcPackage"
            genModel="model/jobxmlrpc.genmodel"/>
   </extension>

</plugin>
