<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated spreadsheetpoi -->
      <package
            uri="http://com.misc.common.moplaf.spreadsheet.poi.emf"
            class="com.misc.common.moplaf.spreadsheet.spreadsheetpoi.SpreadsheetpoiPackage"
            genModel="model/spreadsheetpoi.genmodel"/>
   </extension>

</plugin>
