<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated gisgoogle -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.misc.common.moplaf.gis.GisGoogle.presentation.GisGoogleModelWizardID"
            name="%_UI_GisGoogleModelWizard_label"
            class="com.misc.common.moplaf.gis.GisGoogle.presentation.GisGoogleModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GisGoogleModelFile.gif">
         <description>%_UI_GisGoogleModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated gisgoogle -->
      <editor
            id="com.misc.common.moplaf.gis.GisGoogle.presentation.GisGoogleEditorID"
            name="%_UI_GisGoogleEditor_label"
            icon="icons/full/obj16/GisGoogleModelFile.gif"
            extensions="gisgoogle"
            class="com.misc.common.moplaf.gis.GisGoogle.presentation.GisGoogleEditor"
            contributorClass="com.misc.common.moplaf.gis.GisGoogle.presentation.GisGoogleActionBarContributor">
      </editor>
   </extension>

</plugin>
