<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated solverjacop -->
      <package
            uri="http://com.misc.common.moplaf.solver.jacop.emf"
            class="solverjacop.SolverjacopPackage"
            genModel="model/solverjacop.genmodel"/>
   </extension>

</plugin>
