<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated scheduler -->
      <package
            uri="http://www.misc.com/common/moplaf/scheduler/model/0.1"
            class="com.misc.common.moplaf.scheduler.SchedulerPackage"
            genModel="model/scheduler.genmodel"/>
   </extension>

</plugin>
