<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--

-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated propagator -->
      <package
            uri="http://com.misc.common.moplaf.propagator.emf"
            class="com.misc.common.moplaf.propagator.PropagatorPackage"
            genModel="model/propagator.genmodel"/>
   </extension>

</plugin>
