<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated datasetloadmariadb -->
      <package
            uri="http://com.misc.common.moplaf.datasetload/mariadb"
            class="com.misc.common.moplaf.DatasetLoadMariaDb.DatasetLoadMariaDbPackage"
            genModel="model/datasetloadmariadb.genmodel"/>
   </extension>

</plugin>
