<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated solvergurobi -->
      <package
            uri="http://com.misc.common.moplaf.solver.gurobi.emf"
            class="com.misc.common.moplaf.solver.solvergurobi.SolvergurobiPackage"
            genModel="model/solvergurobi.genmodel"/>
   </extension>

</plugin>
