<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated solverjavailp -->
      <package
            uri="http://com.misc.common.moplaf.solver.javailp.emf"
            class="com.misc.common.moplaf.solver.solverjavailp.SolverjavailpPackage"
            genModel="model/solverjavailp.genmodel"/>
   </extension>

</plugin>
