<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated dbsynch -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.misc.common.moplaf.dbsynch.presentation.DbSynchModelWizardID"
            name="%_UI_DbSynchModelWizard_label"
            class="com.misc.common.moplaf.dbsynch.presentation.DbSynchModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DbSynchModelFile.gif">
         <description>%_UI_DbSynchModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated dbsynch -->
      <editor
            id="com.misc.common.moplaf.dbsynch.presentation.DbSynchEditorID"
            name="%_UI_DbSynchEditor_label"
            icon="icons/full/obj16/DbSynchModelFile.gif"
            extensions="dbsynch"
            class="com.misc.common.moplaf.dbsynch.presentation.DbSynchEditor"
            contributorClass="com.misc.common.moplaf.dbsynch.presentation.DbSynchActionBarContributor">
      </editor>
   </extension>

</plugin>
