<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated flock -->
      <package
            uri="http://com.misc.common.moplaf.flock"
            class="com.misc.common.moplaf.flock.FlockPackage"
            genModel="model/flock.genmodel"/>
   </extension>

</plugin>
