<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.misc.common.moplaf.emf.editor.commands.ShowChartView"
            name="Show Chart View">
      </command>
      <command
            id="com.misc.common.moplaf.emf.editor.commands.ShowGanttView"
            name="Show Gantt View">
      </command>
      <command
            id="com.misc.common.moplaf.emf.editor.commands.ShowGridView"
            name="Show Grid View">
      </command>
      <command
            id="com.misc.common.moplaf.emf.editor.commands.ShowTimePlotView"
            name="Show TimePlot View">
      </command>
      <command
            id="com.misc.common.moplaf.emf.editor.commands.ShowPropertiesView"
            name="Show Properties View">
      </command>
      <command
            id="com.misc.common.moplaf.emf.editor.commands.ShowConsoleView"
            name="Show Console View">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.misc.common.moplaf.emf.editor.handlers.ShowChartView"
            commandId="com.misc.common.moplaf.emf.editor.commands.ShowChartView">
      </handler>
      <handler
            class="com.misc.common.moplaf.emf.editor.handlers.ShowGanttView"
            commandId="com.misc.common.moplaf.emf.editor.commands.ShowGanttView">
      </handler>
      <handler
            class="com.misc.common.moplaf.emf.editor.handlers.ShowGridView"
            commandId="com.misc.common.moplaf.emf.editor.commands.ShowGridView">
      </handler>
      <handler
            class="com.misc.common.moplaf.emf.editor.handlers.ShowTimePlotView"
            commandId="com.misc.common.moplaf.emf.editor.commands.ShowTimePlotView">
      </handler>
      <handler
            class="com.misc.common.moplaf.emf.editor.handlers.ShowPropertiesView"
            commandId="com.misc.common.moplaf.emf.editor.commands.ShowPropertiesView">
      </handler>
      <handler
            class="com.misc.common.moplaf.emf.editor.handlers.ShowConsoleView"
            commandId="com.misc.common.moplaf.emf.editor.commands.ShowConsoleView">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.misc.common.moplaf.emf.editor.commands.ShowChartView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+1">
      </key>
      <key
            commandId="com.misc.common.moplaf.emf.editor.commands.ShowGanttView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+2">
      </key>
      <key
            commandId="com.misc.common.moplaf.emf.editor.commands.ShowGridView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+4">
      </key>
      <key
            commandId="com.misc.common.moplaf.emf.editor.commands.ShowTimePlotView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+5">
      </key>
      <key
            commandId="com.misc.common.moplaf.emf.editor.commands.ShowPropertiesView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="com.misc.common.moplaf.emf.editor.commands.ShowConsoleView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.misc.common.moplaf.emf.editor.menus.MoplafViewsMenu"
               label="Moplaf Views"
               mnemonic="M">
            <command
                  commandId="com.misc.common.moplaf.emf.editor.commands.ShowChartView"
                  id="com.misc.common.moplaf.emf.editor.menus.ShowChartView"
                  style="push">
            </command>
            <command
                  commandId="com.misc.common.moplaf.emf.editor.commands.ShowGanttView"
                  id="com.misc.common.moplaf.emf.editor.menus.ShowGanttView"
                  style="push">
            </command>
            <command
                  commandId="com.misc.common.moplaf.emf.editor.commands.ShowGridView"
                  id="com.misc.common.moplaf.emf.editor.menus.ShowGridView"
                  style="push">
            </command>
            <command
                  commandId="com.misc.common.moplaf.emf.editor.commands.ShowTimePlotView"
                  id="com.misc.common.moplaf.emf.editor.menus.ShowTimePlotView"
                  style="push">
            </command>
            <command
                  commandId="com.misc.common.moplaf.emf.editor.commands.ShowPropertiesView"
                  id="com.misc.common.moplaf.emf.editor.menus.ShowPropertiesView"
                  style="push">
            </command>
            <command
                  commandId="com.misc.common.moplaf.emf.editor.commands.ShowConsoleView"
                  id="com.misc.common.moplaf.emf.editor.menus.ShowConsoleView"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
