<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated solverlpsolve -->
      <package
            uri="http://www.misc.com/common/moplaf/solver/lpsolve/model/0.1"
            class="com.misc.common.moplaf.solver.solverlpsolve.SolverlpsolvePackage"
            genModel="model/solverlpsolve.genmodel"/>
   </extension>
   <extension
         point="com.misc.common.moplaf.solver.emf.solver_factory">
      <factory
            class="com.misc.common.moplaf.solver.solverlpsolve.util.SolverFactory">
      </factory>
   </extension>

</plugin>
