<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Moplaf"
            id="com.misc.common.moplaf.consoleview">
      </category>
      <view
            name="Console"
            icon="icons/sample.gif"
            category="com.misc.common.moplaf.consoleview"
            class="com.misc.common.moplaf.consoleview.ConsoleView"
            id="com.misc.common.moplaf.consoleview.ConsoleView">
      </view>
   </extension>

</plugin>
