<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gisosrm -->
      <package
            uri="http://www.misc.com/common/moplaf/gis/osrm/model/0.1"
            class="com.misc.common.moplaf.gis.osrm.GisOsrmPackage"
            genModel="model/gisosrm.genmodel"/>
   </extension>
  <extension
         point="com.misc.common.moplaf.gis.emf.router_factory">
      <factory
            class="com.misc.common.moplaf.gis.osrm.util.OsrmRouterFactory">
      </factory>
      <factory
            class="com.misc.common.moplaf.gis.osrm.util.OsrmRouterNNFactory">
      </factory>
   </extension>
  <extension
        point="com.misc.common.moplaf.gis.emf.pinpointer_factory">
     <factory
           class="com.misc.common.moplaf.gis.osrm.util.OsrmPinpointerFactory">
     </factory>
  </extension>

</plugin>
