<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated gis -->
      <factory
            class="com.misc.common.moplaf.gis.provider.GisItemProviderAdapterFactory"
            supportedTypes="com.misc.common.moplaf.gisview.impl.IItemLocationProvider"
            uri="http://www.misc.com/common.moplaf.gis.emf"/>
   </extension>

</plugin>
