<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated timeline -->
      <package
            uri="http://com.misc.common.moplaf.timeline.time.continuous"
            class="com.misc.common.moplaf.time.continuous.ContinuousPackage"
            genModel="model/timeline.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated timeline -->
      <package
            uri="http://com.misc.common.moplaf.timeline.time.discrete"
            class="com.misc.common.moplaf.time.discrete.DiscretePackage"
            genModel="model/timeline.genmodel"/>
   </extension>

</plugin>
