<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.misc.common.moplaf.preference.WorkbenchPreferencePageMain"
            id="com.misc.common.moplaf.preference.pageMain"
            name="Moplaf">
      </page>
   </extension>

</plugin>
