<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated timeline -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.misc.common.moplaf.time.continuous.presentation.ContinuousModelWizardID"
            name="%_UI_ContinuousModelWizard_label"
            class="com.misc.common.moplaf.time.continuous.presentation.ContinuousModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ContinuousModelFile.gif">
         <description>%_UI_ContinuousModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated timeline -->
      <editor
            id="com.misc.common.moplaf.time.continuous.presentation.ContinuousEditorID"
            name="%_UI_ContinuousEditor_label"
            icon="icons/full/obj16/ContinuousModelFile.gif"
            extensions="continuous"
            class="com.misc.common.moplaf.time.continuous.presentation.ContinuousEditor"
            contributorClass="com.misc.common.moplaf.time.continuous.presentation.ContinuousActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated timeline -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.misc.common.moplaf.time.discrete.presentation.DiscreteModelWizardID"
            name="%_UI_DiscreteModelWizard_label"
            class="com.misc.common.moplaf.time.discrete.presentation.DiscreteModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DiscreteModelFile.gif">
         <description>%_UI_DiscreteModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated timeline -->
      <editor
            id="com.misc.common.moplaf.time.discrete.presentation.DiscreteEditorID"
            name="%_UI_DiscreteEditor_label"
            icon="icons/full/obj16/DiscreteModelFile.gif"
            extensions="discrete"
            class="com.misc.common.moplaf.time.discrete.presentation.DiscreteEditor"
            contributorClass="com.misc.common.moplaf.time.discrete.presentation.DiscreteActionBarContributor">
      </editor>
   </extension>

</plugin>
