<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="geocoder_factory" name="Address Geocoder for MOPLAF" schema="schema/geocoder_factory.exsd"/>
   <extension-point id="router_factory" name="Route Provider for MOPLAF" schema="schema/router_factory.exsd"/>
   <extension-point id="pinpointer_factory" name="Pinpointer for MOPLAF" schema="schema/pinpointer_factory.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gis -->
      <package
            uri="http://www.misc.com/common/moplaf/gis/model/0.1"
            class="com.misc.common.moplaf.gis.GisPackage"
            genModel="model/gis.genmodel"/>
   </extension>
   <extension
         point="com.misc.common.moplaf.gis.emf.router_factory">
      <factory
            class="com.misc.common.moplaf.gis.util.GeodesicRouterFactory">
      </factory>
   </extension>

</plugin>
