<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated timeline -->
      <factory
            class="com.misc.common.moplaf.time.continuous.provider.ContinuousItemProviderAdapterFactory"
            supportedTypes="com.misc.common.moplaf.timeview.impl.IItemAmountEventsProvider com.misc.common.moplaf.timeview.impl.IItemDiscontinuousAmountEventProvider"
            uri="http://com.misc.common.moplaf.timeline.time.continuous"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            class="com.misc.common.moplaf.time.discrete.provider.DiscreteItemProviderAdapterFactory"
            supportedTypes="com.misc.common.moplaf.timeview.impl.IItemIntervalEventProvider"
            uri="http://com.misc.common.moplaf.timeline.time.discrete"/>
   </extension>

</plugin>
