<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="com.misc.common.moplaf.macroplanner.design.Activator"
               id="com.misc.common.moplaf.macroplanner.design"
	       name="macroplanner">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="com.misc.common.moplaf.macroplanner.design.ExternalJavaTest"
           id="com.misc.common.moplaf.macroplanner.design.test">
     </javaActions>
  </extension>
</plugin>
