<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated datasetload -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.misc.common.moplaf.datasetload.presentation.DatasetloadModelWizardID"
            name="%_UI_DatasetloadModelWizard_label"
            class="com.misc.common.moplaf.datasetload.presentation.DatasetloadModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DatasetloadModelFile.gif">
         <description>%_UI_DatasetloadModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated datasetload -->
      <editor
            id="com.misc.common.moplaf.datasetload.presentation.DatasetloadEditorID"
            name="%_UI_DatasetloadEditor_label"
            icon="icons/full/obj16/DatasetloadModelFile.gif"
            extensions="datasetload"
            class="com.misc.common.moplaf.datasetload.presentation.DatasetloadEditor"
            contributorClass="com.misc.common.moplaf.datasetload.presentation.DatasetloadActionBarContributor">
      </editor>
   </extension>

</plugin>
